<div class="container-fluid" style="margin-top: 20px">
  <div class="row">
    <div class="col-12"><input type="date" /></div>
  </div>

  <br />
  <br />
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-5">
      <i class="fas fa-search icon-search"></i
      ><input
        type="text"
        class="searchbox-width"
        id="filter-text-box"
        placeholder="Search..."
        (input)="onFilterTextBoxChanged($event)"
      />
      <ag-grid-angular
        style="width: 580px; height: 350px"
        rowSelection="multiple"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
    <div class="col-1 classesnav">
      <ul>
        <li class="first-list">
          <div
            class="fas fa-angle-right page-icon"
            (click)="buttonClick()"
          ></div>
          <!-- <button (click)="buttonClick()" class="button-width">
          <i class="fas fa-angle-right" style="font-size: 24px"></i>
        </button> -->
        </li>
        <li>
          <div
            class="fas fa-angle-double-right page-icon"
            (click)="buttonClick()"
          ></div>
        </li>
        <li>
          <div
            class="fas fa-angle-left page-icon"
            (click)="buttonClick()"
          ></div>
        </li>
        <li>
          <div
            class="fas fa-angle-double-left page-icon"
            (click)="buttonClick()"
          ></div>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <i class="fas fa-search icon-search"></i
      ><input
        type="text"
        class="searchbox-width"
        id="filter-text-box"
        placeholder="Search..."
        (input)="onFilterTextBoxChanged2($event)"
      />

      <ag-grid-angular
        style="width: 580px; height: 350px"
        rowSelection="multiple"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady2($event)"
      >
      </ag-grid-angular>
      
    </div>
  </div>
  <!-- </div> -->
</div>
