<input type="date" />

<br />
<br />
<!-- <div class="container"> -->
  <div class="row">
    <div class="col-4">
      <ag-grid-angular
        style="width: 500px; height: 350px"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
      >
      </ag-grid-angular>
    </div>
    <div class="col classesnav">
      <ul>
        <li class="first-list"><button (click)="buttonClick()" class="button-width"><i class='fas fa-angle-right' style='font-size:24px'></i></button></li>
        <li><button (click)="buttonClick()" class="button-width"><i class='fas fa-angle-double-right' style='font-size:24px'></i></button></li>
        <li><button (click)="buttonClick()" class="button-width"><i class='fas fa-angle-left' style='font-size:24px'></i></button></li>
        <li><button (click)="buttonClick()" class="button-width"><i class='fas fa-angle-double-left' style='font-size:24px'></i></button></li>
      </ul>
      
    </div>
    <div class="col-7">
      <ag-grid-angular
        style="width: 500px; height: 350px"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
      >
      </ag-grid-angular>
    </div>
  </div>
<!-- </div> -->
